<%= simple_form_for @developer do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :first_name, :required => true, autofocus: true %>
    <%= f.input :last_name, :required => true %>
    <%= f.input :occupation, :required => true %>
    <%= f.input :city, :required => true %>
    <%= f.simple_fields_for :user_auth do |p| %>
      <%= p.input :email, :required => true, autofocus: true %>
      <%= p.input :password, :required => true %>
      <%= p.input :password_confirmation, :required => true %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Börja göra nytta" %>
  </div>
<% end %>

