<div class="nav-collapse">
  <ul class="nav">
    <%= get_navigation.inject('') { |result, el| result + el }.html_safe %>
  </ul>
  <ul class="nav pull-right">
    <% if user_auth_signed_in? %>
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <%= current_user_auth.email %> 
        <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <%= link_to "Uppdatera profil", edit_polymorphic_path(current_user) %>
        <%= link_to "Logga ut", destroy_user_auth_session_path, :method => :delete %>
      </ul>
      </li>
    <% else %>
      <%= content_tag :li, link_to("Logga in", new_user_auth_session_path) %>
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Registrera dig
        <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <%= link_to("Utvecklare", new_developer_path) %>
        <%= link_to("Välgörenhet", new_charity_path) %>
      </ul>
      </li>
    <% end %>
  </ul>
</div><!--/.nav-collapse -->
