<%= simple_form_for @charity do |f| %>
  <%= f.error_notification %>
  
  <div class="inputs">
    <%= f.input :name, required: true, autofocus: true, label: "Vad heter ni?"  %>
    <%= f.input :mission, required: true, label: "Vad gör ni?" %>
    <%= f.input :needs_help_with, :required => true, label: "Vad skulle ni vilja ha hjälp med?" %>
    <%= f.input :city, :required => true, label: "Stad" %>
    <%= f.simple_fields_for :user_auth do |p| %>
      <%= p.input :email, required: true %>
      <%= p.input :password, required: true %>
      <%= p.input :password_confirmation, :required => true %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Skapa kontot" %>
  </div>
<% end %>

