<!DOCTYPE html>
<html lang="se">
  <head>
    <title>Kodhjälpen</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container">
    </div>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Kodhjälpen</a>
          <div class="nav-collapse">
            <ul class="nav">
              <%= get_navigation.inject('') { |result, el| result + el }.html_safe %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>

      <footer>
      <%= cms_snippet_content('footer') %>
      </footer>
    </div>
  </body>
</html>
